//MAIN . SCSS
@import "mixins";
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.pages {
  width: 100vw;
  height: 100vh;
  transition: -webkit-transform ease 0.8s;
  transition: transform ease 0.8s;
  transition: transform ease 0.8s, -webkit-transform ease 0.8s;
}

.page {
  width: 100%;
  height: 100%;
  padding: 1px;
}

.page-1 {
  background-color: #324956;
  // background-image: url('../../assets/images/wall1back.png');
  // background-size: cover;
  // background-position: center;
}

.page-2 {
  background-color: #f73070;
}

.page-3 {
  background-color: #324956;
}

.page-4 {
  background-color: #f73070;
}

.page-5 {
  background-color: #324956;
}

h1 {
  color: white;
  font-family: Raleway, sans-serif;
  line-height: 100vh;
  font-size: 3rem;
  text-align: center;
}

body {
  background-color: #324956;
  .anim {
  width: 100px;
  height: 100px;
  position: relative;
  animation: loading-rotation 5s linear infinite;
  border: solid 1px #c62828;
  border-radius: 50%;
  margin: 20px;
} 
  #c {
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    // .wall1backp1 {
    //   position: absolute;
    //   right: 10vw;
    //   top: 10vh;
    // }
    // .wall1backp2 {
    //   position: absolute;
    //   right: 35vw;
    //   top: 35vh;
    // }
    /*@include stars(20%, 100%);       //position: top, right*/
    @include scrollText(15%, 30%);   //position: top, right
    @include hMenu(40%, 50px);       //position: top, right

  }
  .container2 {
    width: 70%;
    margin: 300px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    div {
      opacity: 0.75;
      border-radius: 5px;
      border: 2px solid #626262;
      background-color: #fff;

    }
  }
}
